[2019-07-11 02:24] JustAnotherPersonD opened #1 "Training on my dataset"
When I train on my own dataset, the loss and dice_coef increases and iou also increases. I tried a range of learning rates, but it didn't help. Please help me out. In what format are the images and labels?

[2019-07-11 08:08] #1 closed, assigned to nobody

[2019-10-03 04:28] gkaissis opened #2 "Is development still occuring?"
I think this package is great! Is it still under active development? If yes, my team and I would like to contribute, as we have recently started using it for our work.

[2019-10-10 01:26] karolzak commented on #2
Hi @gkaissis!
Flattered to hear you enjoy it :)
This project is definitely open for any contributions! It's still under development however since I've been very busy with other projects last couple months I didn't manage to push any changes so I wouldn't exactly call it an "active development".
Bear in mind that the quality of that code is not that great yet.. for current version I just gathered s

[2019-10-11 07:57] gkaissis commented on #2
I think we could benefit from adding more loss functions such as combinations of dice loss and pixelwise losses. Also, I'm not sure whether using batch normalization causes the model to not use biases? I'm in the middle of a lot of work as well at the moment, but I will open a PR as soon as I have time.

[2019-10-30 13:49] JaledMC opened #3 "Multiclass segmentation"
Hello @karolzak ,

Thanks for this great repo. In [Customizable U-Net](https://github.com/karolzak/keras-unet#customizable-u-net), it seems like multiclass segmentation can be done. But, what is the proper dataset format? With one hot encoding, one ground mask image per class for each example is needed. There is another way, assign each pixel its class (1, 2, 3, ...). But you use normalization to

[2019-11-02 07:06] furkank75 opened #4 "Multiple Input"
Hi, thanks for sharing the Repo. Its very usefull.
It is possible to have a multiple Input architecture with Unet? I have two similar images and would like give this two images as Input. The change in Architeccture is not the problem, thats easy. But which components of the code I must change? Loss-Function? Optimizer? In which way I set my labels if I have two Inputs?

thanks :)

[2019-11-05 14:05] JordanMakesMaps commented on #3
@JaledMC could you point me to where you see the labels being normalized between 0 and 1?

[2019-11-06 16:45] JordanMakesMaps opened #5 "Recommended pre-processing method?"
Howdy, thanks for the repo. Was curious what type of rescaling or normalization you find works best with the Custom U-Net?

[2019-11-06 19:50] JaledMC commented on #3
Hello @JordanMakesMaps

In the notebooks (thank to @karolzak for these useful scripts), you can see all steps needed for data preprocessing and training. If you go to [Get data into correct shape, dtype and range (0.0-1.0)](https://github.com/karolzak/keras-unet/blob/master/notebooks/kz-isbi-challenge.ipynb#), this two lines do normalization in both images (x), and labeled annotations (y):
[code]

[2019-11-06 20:26] JordanMakesMaps commented on #3
@JaledMC thanks, I forgot about the notebooks. Yeah I'm not sure about that, but I feel like it was just an error from copy and pasting code? I'm using the network, normalizing the images ([0, 1]), but one-hot-encoding the masks the same way I do with other architectures.

This implementation works pretty good compared to others.

[2019-11-06 20:26] #5 closed, assigned to nobody

[2019-11-07 01:20] karolzak commented on #4
Hi @furkank75, really glad you find it useful! :)
I don't think I fully understand what are you trying to achieve. Could you elaborate a bit more about the scenario?

[2019-11-07 01:23] karolzak commented on #5
Hey @JordanMakesMaps , glad you like it! :)
As for normalization I honestly haven't experimented around it with this network. For my projects I just normalize pixel values between 0 and 1, same as in the example notebooks

[2019-11-07 01:43] karolzak commented on #3
Hi @JaledMC and @JordanMakesMaps
Thanks for your interest in this package :).
I think you brought up a good topic for discussion.
The way I build models for multiple classes is basically training separate model per class, so in fact I divide the multiclass segmentation problem into multiple binary segmentation problems. That's what I found working quite well in my projects.

It might be a good ide

[2019-11-07 05:27] furkank75 commented on #4
Thanks for answering. Also, I would like to detect objects in two similar images. The two similar images came from different cameras.

Now I have added two inputs to the architecture and concatenated this to one. [300,128,256,2] then I have a two-channel image. Finally is that my input for the U-Net. But I don't know if this way is right. I plot my kernels and I saw that only one image processing.

[2019-11-07 11:18] karolzak commented on #4
Again I'm not sure I fully follow the purpose of having two inputs for this network.
Are you thinking about a scenario where you have 2 (or more) images representing the same object but are using different types of cameras/images, e.g. night vision, thermal, rgb, etc. In such case I would just stack all the layers on top of each other and treat them as a "single image".
So imagine you have images

[2019-11-07 14:11] furkank75 commented on #4
This scenario is the same as what I mean. I stack similar images to one image with several channels. But with one difference, the object is not in the same position as your example. This is my question. How can I pass architecture a label(mask) with for example three channels?

How do you plot the 2 channel Image? I think I can stack image and mask before in preprocessing and pass only one image t

[2019-11-07 18:33] karolzak commented on #4
It won't work if your input images are not perfectly aligned. It only makes sense to stack layers into a single input if the layers are perfectly aligned (like in the example with a hog).

It's possible to pass in masks with as many layers as you want (each layer represents a single class).
So for example with `custom_unet` you can pass in different value for `num_classes` argument and that would

[2019-11-11 22:39] leedrake5 opened #6 "Inputs don't match Outputs"
I've been working on this, and just can't get it to work. It can't matching inputs to outputs.

Input data: two folders of images (400 x 400 pixels) in a master folder called TrainingData

[code]

I get the following error:

I honestly don't know what I am doing wrong.

[2019-11-12 13:07] karolzak commented on #6
Hi @leedrake5 !

I successfully reproduced this problem on my machine and I'm the problem seems to be with how you create data generators and more specifically how you create your label masks.

Above error msg indicates that on your last layer it expects target (output/Y) to have a shape of 4 dimensions, e.g. `(batch_size, height, width, num_classes)` - according to your code I'd say it should be

[2019-11-12 22:01] leedrake5 commented on #6
Thanks @karolzak! This is perfect and explains what I was doing wrong. I though it had to be data loading somehow, but wasn't sure what was wrong.

[2019-11-12 22:52] #6 closed, assigned to nobody

[2019-11-21 09:35] karolzak commented on #3
Closing for now since there no activity happening for 2 weeks

[2019-11-21 09:35] #3 closed, assigned to nobody

[2019-11-21 09:36] karolzak commented on #4
Closing for now since there no activity happening for 2 weeks

[2019-11-21 09:36] #4 closed, assigned to nobody

[2019-11-21 21:11] JordanMakesMaps commented on #3
@karolzak, so you train multiple models individually, one for each class? When you perform predictions on images with multiple classes present, do you just save the prediction from each model and combine them overall?

Can you load multiple models into memory at once?

[2019-11-22 10:36] karolzak commented on #3
@JordanMakesMaps , yes, that's more or less how I'm doing it.

Yes you can. The problem with keras is that by default it holds a global session, so when you're working with multiple models at once you need to make sure that you're using separate sessions and models on different graphs.
This thread talks about it in more detail: https://github.com/keras-team/keras/issues/8538#issuecomment-358720718

[2020-02-09 11:18] #2 closed, assigned to nobody

[2020-02-12 22:23] LJ-20 opened #12 "Satellite Unet in multi-gpu"
Hello
I wasn't able to run the Satellite Unet in multi-gpu. I didn't have this problem with the custom unet.

[2020-02-13 03:13] muminoff commented on #12
@LJ-20 can you share your experience? I cannot run custom unet with multi-gpu. I followed distributed training part in Tensorflow documentation, but no luck. It seems I need to refactor code and use custom distributed training (namely `strategy.experimental_distribute_dataset`).

[2020-02-13 18:52] karolzak commented on #12
Hi @LJ-20
Honestly I haven't tested any of UNet implementations from this repo on multi gpu setup but in theory there shouldn't be any issues. You said you were able to run custom unet on multi gpu but it's not working for satellite unet which I find weird because there's no significant difference in implementation or dependencies between custom vs satellite. My educated guess would be that you ei

[2020-02-13 21:54] LJ-20 commented on #12
These are the lines for each of the codes:
model = satellite_unet(input_shape=(256,256,3))

model = custom_unet(   (256,256,3), num_classes=1,  use_batch_norm=True, upsample_mode='deconv', use_dropout_on_upsampling=False,   dropout=0.0,   dropout_change_per_layer=0.0, filters=64, num_layers=4, output_activation='sigmoid')

with the command:

model = multi_gpu_model(model, gpus=4,cpu_relocation=Tru

[2020-02-14 00:31] muminoff commented on #12
@karolzak I haven't tried `tf.keras.utils.multi_gpu_model` since it is deprecated. But, I tried with `tf.distribute.MirroredStrategy()`.

And, here is my code:

[code]

Error:
[code]

[2020-02-14 01:00] muminoff commented on #12
@karolzak fyi, using `multi_gpu_model` raises following exception:
[code]

Edit: format

[2020-02-14 02:05] karolzak commented on #12
@LJ-20 So it's not that you're not able to run satellite unet on multi gpu but more about it's not converging in multi gpu setup.. Hmm very interesting, thank you for brining that up! I will look into it and try debugging it however as of right now I don't see anything that could be causing this from the model implementation perspective.
**My best quess would be that there's something wrong with y

[2020-02-14 02:18] muminoff commented on #12
@karolzak

[code]

Fixed the indent, but same error:

[code]

[code]

[2020-02-14 02:21] muminoff commented on #12
@karolzak I tried different methods as you described, left only building and compiling the model inside the strategy context, same error. The aboveshown snippet is the latest try. You can assume `model.compile` ing inside context also raises that exception.

[2020-02-14 03:26] karolzak commented on #12
@muminoff I was able to reproduce your problem and debug it and it is related to Keras/tf.keras dependencies mismatch.
I will introduce a fix for this problem in next PR but could you please create a separate issue for your problem as it is not directly related to @LJ-20 issue? Feel free to copy the content of your comments from this issue to your new issue.
Thanks!

[2020-02-14 03:36] muminoff opened #14 "Issue with running on multiple GPUs"
Copy-pasting comments from #12

---

@muminoff:
I cannot run custom unet with multi-gpu. I followed distributed training part in Tensorflow documentation, but no luck. It seems I need to refactor code and use custom distributed training (namely strategy.experimental_distribute_dataset).

---
@karolzak:
Can you share the code you used, TF/Keras version and error msg? That way I might be able to hel

[2020-02-14 05:13] karolzak commented on #14
Thanks for reposting this as a new issue @muminoff
This issue is caused by internally using `import keras` (old Keras package) versus `import tensorflow.keras`.
I just merged a PR which adds support for TF2.x and the behavior is that now depending on TF version and presence keras_unet will either use regular Keras package or tf.keras.
Could you please check if it now works for your multi gpu setup

[2020-02-14 05:26] muminoff commented on #14
Uninstalled the previous one, installed git version, but I don't figure out why it shows previous version.

![image](https://user-images.githubusercontent.com/1235454/74503926-dd20d980-4f35-11ea-8d7d-75a606becfdf.png)

[2020-02-14 05:36] muminoff commented on #14
I finally managed to reinstall `keras_unet` from Git version. Unfortunately, same error occurs again. I think, it has no relation with datagenerator, even I comment `model.fit(...)` part it raises the exception.

[code]

Output:
[code]

[2020-02-14 05:46] karolzak commented on #14
@muminoff this code is definitely coming from 'old' version. Newest code looks like this:
[code]

Make sure you're using the latest version.
If you're installing through pip in notebooks please make sure you're addressing current kernels env like below:
[code]

Also, please ignore `keras_unet.__version__` - I totally forgot to bump it while rushing the PR...

[2020-02-14 05:53] muminoff commented on #14
My example code still imports old keras (`from keras.callbacks import ModelCheckpoint`) which was directly taken from  kz-whale-tails notebook example. Should I change those imports also?

[2020-02-14 05:56] muminoff commented on #14
Before:
[code]

After:
[code]

Both (before and after) are giving same error message.

[2020-02-14 05:56] karolzak commented on #14
Yes, change everything to `from tensorflow.keras...`

[2020-02-14 06:00] karolzak commented on #14
@muminoff can you paste again the most recent error msg + stack trace?

[2020-02-14 06:03] muminoff commented on #14
# Jupyter Notebook exported to Markdown format

[code]

[code]

[code]

[code]

[code]

    (1970, 64, 64, 3) (1970, 64, 64)

[code]

[code]

    255 255

[code]

[code]

    1.0 255.0

[code]

    (1970, 64, 64, 3) (1970, 64, 64)

[code]

    (1970, 64, 64, 3) (1970, 64, 64, 1)

[code]

    x_train:  (197, 64, 64, 3)
    y_train:  (197, 64, 64, 1)
    x_val:  (1773, 64, 64, 3)
    y_val:  (1773,

[2020-02-14 06:39] karolzak commented on #14
@muminoff
Ok, I think I finally got it.
I'm using `packaging` module internally do compare TF version and I was convinced that it's a base python package which turns out it's not and it needs to be installed so:
[code]

Sorry for the trouble and let me know if that finally solved the issue

[2020-02-14 06:46] muminoff commented on #14
@karolzak I have followed your instruction. Now it works. Thanks a lot for your support!
![image](https://user-images.githubusercontent.com/1235454/74507904-17dc3f00-4f41-11ea-8a17-703b9d32e92e.png)

![image](https://user-images.githubusercontent.com/1235454/74507880-085cf600-4f41-11ea-8168-d60f3626a4e1.png)

[2020-02-14 06:56] #14 closed, assigned to karolzak

[2020-02-18 17:01] LJ-20 commented on #12
@karolzak the pixel range is read from 0 to 1, the numpy arrays are dtype float32 and also tried the multi_gpu parameters. Our first thought was the batch normalization or the way the weights are merged in multi_gpu but we didn't have this problem with the custom_unet using the exact same code.

[2020-02-18 17:09] karolzak commented on #12
Closing due to inactivity

[2020-02-18 19:35] LJ-20 commented on #12
Update. Upon revision, it seems like the problem was the float32. I had it set up as float64. Why is this an issue?

[2020-02-18 19:48] karolzak commented on #12
@LJ-20 , so you used `float64` for both `custom_unet` and `satellite_unet`? Or just the for `satellite_unet`?
In general single precision (float32) is most commonly used (also its the default for TF and maybe that's the root of the problem?) and  I haven't seen examples of float64 being used in any experiments. Half-precision (float16) on the other hand can be used in cases where you want to squee

[2020-02-18 21:05] LJ-20 commented on #12
I used float64 for both custom_unet and satellite_unet and it only worked with custom_unet

[2020-02-20 04:57] EtagiBI opened #17 "Optional augmentation for custom_unet?"
Hello,

Is it possible to add augmentation as optional parameter in custom unet model? In my case augmentation does more harm than good.

[2020-02-20 20:45] karolzak commented on #17
Hi @EtagiBI ,
Could you elaborate a bit? What do you mean by:

There's no data augmentation happening inside the model itself. However if you're talking about the example in notebooks then you are free to modify it for your needs. Data augmentation usually helps to prevent overfitting but you always have to adjust types of transformations you're using and check if they make sense for your type of

[2020-04-06 14:28] karolzak commented on #17
closing due to lack of response

[2020-04-06 14:28] #17 closed, assigned to nobody

[2020-05-28 07:14] muminoff opened #18 "Error during loading a model"
There is a model which was created using Jupyter notebook with filename `20200528-model-3.h5`. Now a new different notebook is created to load and test the model. But, model loading gets failed.

Here is the code:
[code]

And error:
[code]

This version loads the model but prediction output consists zero values:
[code]

[2020-05-30 12:37] karolzak commented on #18
@muminoff it's TF/Keras related issue.
Since you used a custom metric in your saved model (`iou`) and TF/Keras is not serializing custom objects when saving a model - you need to add something like this:

[code]

[2020-06-01 06:32] muminoff commented on #18
@karolzak Thank you. But how about `tflite_convert` utility? How can I use a custom metric function?

[2020-06-01 06:47] karolzak commented on #18
I'm not 100% sure but I would assume that you need to [convert the binary](https://www.tensorflow.org/lite/convert/cmdline_examples) first and then while loading the model in python do it with "custom_objects" param. Have you tried that?

[2020-06-01 06:51] muminoff commented on #18
Can you be more specific, please? I need to convert H5 model to TFLite. `tflite_convert` command fails.

[code]

I am using this command:
[code]

[2020-06-01 06:52] muminoff commented on #18
`tflite_convert` help menu has no custom metric option to use.

[2020-06-01 06:54] muminoff commented on #18
All I need is to convert the model to the TFLite format. The method you mentioned earlier works fine. But that one is the H5 model. Now I need to convert it to TFLite format.

[2020-06-01 06:56] muminoff commented on #18
This code:
[code]

also fails
[code]

[2020-06-01 07:45] karolzak commented on #18
Did a bit of research and found this reference in TF docs: [https://www.tensorflow.org/api_docs/python/tf/compat/v1/lite/TFLiteConverter](https://www.tensorflow.org/api_docs/python/tf/compat/v1/lite/TFLiteConverter)

And I haven't tried it but if I'm correct your code should look somewhat like below:

[code]

[2020-06-02 11:32] muminoff commented on #18
@karolzak tried your suggestion. TFLite model gets created but prediction output includes only zero values.

[2020-06-02 14:48] karolzak commented on #18
@muminoff I assume that it works fine when loaded with TF and only returns zero values on TFLite? (for the same inputs). Sorry, I don't know what causes that, but I don't think it's related to `keras-unet`. Best bet is to search for similar issues with TFLite conversions from Keras - maybe there's some known issue related to this.

[2020-06-02 14:48] #18 closed, assigned to nobody

[2020-06-11 07:04] EtagiBI commented on #17
Hi @karolzak
Pardon me, email notification lost in spam.
My question was about `get_augmented` function in `utils.py`. As far as I understand, `data_gen_args` is an essential set of parameters for this function. Should I set all augumentation options within `data_gen_args` to 0 / False to avoid any augumentation?

[2020-06-13 03:49] karolzak commented on #17
Hi @EtagiBI
data_gen_args param should be a dictionary of key-value pairs where key is one of the Keras ImageDataGenerator arguments and value is the value you want to set it to. If you don't want to use any augmentation there you should just asign an empty dictionary to data_gen_args.

I honestly think this should be handled differently but that's how it was rapidly developed at the time and I ju

[2020-06-27 01:21] K-M-Ibrahim-Khalilullah opened #24 "Index out bounds for axis 0?"
@karolzak
Thank you very much for your awesome repo. I am using you code for getting patches and reconstructing from patches, but it produces the following error:
When I use plot_patches:
Image Shape: (3648, 5472, 3)  ### original image
Image_crop shape:  (169, 512, 512, 3)

[code]

when I use reconstruct_from_patches:
[code]
The crop size is 512 and stride is 256

Is there any suggestion?

[2020-06-28 05:27] karolzak commented on #24
Hi @ibrahimLearning !
Thanks for submitting this feedback1
Just checked and indeed there's a problem with `get_patches` function. Because of how it is implemented right now it will only work for square images as input. It's an obvious mistake...
I'm marking this as a bug and will update this thread once it's fixed.

[2020-06-28 12:17] EtagiBI opened #25 "Proper mask shape for a multiclass task"
Hello,

I'm trying to use `custom_unet` for a multiclass task. In my case all masks inputs have a following shape
(BATCH_SIZE, NUMBER_OF_CLASSES, IMAGE_WIDTH, IMAGE_HEIGHT, 1).
Since I have 4 different colours on the black background and my images're 256x256 pixels and I use batch size of 4, I end up with the following shape:
(4, 4, 256, 256, 1).
Unfortunately, `custom_unet` doesn't like this shap

[2020-06-29 11:46] karolzak commented on #25
Hi @EtagiBI !

For multiclass semantic segmentation tasks you need to reshape your masks into `(BATCH_SIZE IMAGE_WIDTH, IMAGE_HEIGHT, NUMBER_OF_CLASSES)`.
And to explain why behind it: with this shape you should treat `NUMBER_OF_CLASSES` as a number of layers in your output masks where each layer represents each class you are trying to predict. In other words your output mask will be a volume of b

[2020-06-30 13:18] EtagiBI commented on #25
Thanks for your reply!

Here's one of my masks:
![sample](https://user-images.githubusercontent.com/20855725/86130064-0dd86880-bafd-11ea-8913-27b4cd933de2.jpg)

I use a following code to create an encoded array for learning:
[code]
Is it a valid way to encode multicoloк masks?

[2020-06-30 14:01] karolzak commented on #25
@EtagiBI
I quickly checked your code and I don't think it's correct:
- `swapaxes` is rotating your output image (I advise to always visualize outputs with matplotlib or something to verify if everything is ok)
- `COLOR_PACK` values seems to be a bit inaccurate (at least in my experiment it didn't pick up red color

Code below works for me (notice inline comments):

[code]

[code]
green

[2020-07-02 05:25] EtagiBI commented on #25
Thank you!

Axes manupulations still confuse me a lot... What other changes should be done in `custom_unet` for a multiclass task? I assume that softmax is more appropriate output activation function. Anything else?

[2020-07-02 08:27] karolzak commented on #25
@EtagiBI no problem.
I honestly haven't used U-NETs for multiclass (in case of multiple classes I just trained multiple single class models) so not much to advise here other than `custom_unet` offers variety of different hyperparameters to play with so it makes sense to experiment with different settings and check what works best for your problem space.

[2020-07-02 12:15] EtagiBI commented on #25
Oh, I see. That's a good workaround indeed if you have few classes.
One last question, though. What's the correct way of transforming prediction into mask images in a multiclass model?
At the momet I use a following chunk of code:

[code]
Results look messy, so I assume there's something wrong in my code.

[2020-07-02 13:01] karolzak commented on #25
@EtagiBI the code you shared looks fine although I prefer array slicing to extract specific layers. Also GRAY2RGB conversion is unnecessary unless you really need it. Grayscale image is perfectly fine especially for segmentation mask.

If your prediction results look messy your model probably failed to learn anything.
In my dummy example (training on a single image..) I used code below:
[code]

Wh

[2020-07-07 12:00] maxence-ai opened #26 "Augmenting validation set shouldn't be mandatory"
In [utils.py](https://github.com/karolzak/keras-unet/blob/f8f9705477aa25c356e4612d0be403b7aedd2647/keras_unet/utils.py#L68), the validation set is augmented. AFAIK the validation set should be fixed and be as close as real world data. In this case it is manually changed and won't be the same across two epochs.

Please let me know if I'm missing something. I'd go with `shuffle=False`, because if yo

[2020-07-07 18:13] karolzak commented on #26
@maxpv thanks for picking that up!
You're absolutely correct! And I swear to god it used to be no augment and no shuffle for validation when I was writing it and using it 😆. I guess when I was putting this stuff into keras-unet package and doing some refactoring I must have mistakenly copy-pasted something wrong. That's what you get for not writting tests...

[2020-07-07 18:28] #26 closed, assigned to karolzak

[2020-07-08 09:39] maxence-ai commented on #26
No problem, actually I doubled checked if anyone is actually doing augmentation on the validation set and found [this interesting thread](https://stats.stackexchange.com/a/320967).

[2020-07-08 11:06] karolzak commented on #26
Interesting indeed. Some good points there, although for me the main purpose of augmentation is to reduce overfitting and having that in mind (as you said before) you don't want to run augmentation on your val/test datasets - you rather have it fixed and always the same

[2020-07-08 16:11] EtagiBI commented on #25
Thanks for your answers!

[2020-07-08 16:11] #25 closed, assigned to nobody

[2020-07-09 16:33] maxence-ai commented on #26
Yes we agree that they are edge cases.

[2020-07-14 12:58] EtagiBI opened #28 "utils.plot_imgs returns an empty table"
Hello,

I'm trying to plot templates and masks using `utils.plot_imgs` function. Here's my code:
[code]

Unfortunately, I get an empty table as a result:
![изображение](https://user-images.githubusercontent.com/20855725/87428010-1fd90180-c5fb-11ea-96d9-cd366c343e55.png)

Am I missing something? My images are 512x512 RGB.

[2020-07-14 20:57] karolzak commented on #28
Hi @EtagiBI

You need to pass in these images into `plot_imgs` as arrays of arrays.
Also you might need to convert all the mask images into grayscale (single channel) images.
Try this:
[code]

[2020-07-15 04:34] EtagiBI commented on #28
It works indeed, thank you!
In the documentation for `plot_imgs` function is says
[code]
Could you add information about "array of arrays" requirement, please?

[2020-07-21 07:39] kissievendor opened #29 "V-Net not working"
Hi,
I think there might be something wrong with the v-net implementation.
When calling custom_unet (on its own) I get something like :

<function keras_unet.models.custom_unet.custom_unet(input_shape,num_class ... ='sigmoid')>

When calling custom_vnet:

<module 'keras_unet.models.custom_vnet' ... custom_vnet.py'>

So the module rather than the function.

Best, Kirsten

[2020-07-21 17:48] karolzak commented on #29
Hi @kissievendor
Thanks for reporting this issue. I think this is related to init.py file under keras_unet/models.
![3FF33614-0152-40B5-9613-43A3EED7275F](https://user-images.githubusercontent.com/9843623/88088674-1582ae80-cb8b-11ea-8b2e-81d7aed0b1c0.jpeg)
It's missing an import statement for custom_vnet

[2020-07-27 13:08] kissievendor commented on #29
Thanks! Could you push this fix to the package?
Otherwise I can't fix it in my container image.

[2020-07-27 15:05] #28 closed, assigned to karolzak

[2020-07-27 15:05] #29 closed, assigned to nobody

[2020-07-27 15:14] karolzak commented on #28
@EtagiBI docstrings for `plot_imgs` are now fixed and more informative in version 0.1.2+
Thanks again for pointing that out

[2020-07-27 15:15] karolzak commented on #29
@kissievendor this should be now fixed from v0.1.2 going forward.
Thanks for your contribution!

[2020-08-10 16:22] ihamzariaz opened #31 "Issue in multi-class- segmentation"
This is a great repo. Is your custom model suitable for multiple class segmentation.

[2020-08-11 07:21] karolzak commented on #31
Hi @ihamzariaz - thanks!
Yes, the custom model is suitable for multi-class segmentation.
I covered this topic in depth in following issues:
https://github.com/karolzak/keras-unet/issues/25
https://github.com/karolzak/keras-unet/issues/4
https://github.com/karolzak/keras-unet/issues/3

Please look through those and in case you have any additional questions that were not covered before - don't hesit

[2020-08-11 07:21] #31 closed, assigned to nobody

[2020-08-28 14:00] EtagiBI opened #32 "Floating input sizes Implementation"
Hello,

Is it possible to somehow implement a floating input sizes in custom Keras Unet (custom_vnet.py)?
For instance, I have images of different shapes: 1024x1024x3, 3072x3072x3, 512x512x3. If I use a fixed input, I have to severely downsample bigger images loosing quality and important features.

As far as I know, for floating image sizes it's recommended to use `(None, None, channels)` as an i

[2020-09-01 11:07] karolzak commented on #32
Hi @EtagiBI
I don't think it's technically possible to fit images of different sizes into the same model (unless you resize/cropp them to uniform size first). Could you please point to any examples of that approach implemented or explained in detail somewhere?

If I remember correctly, using `(None, None, channels)` as input shape for your network will only make it accept images of any size as an

[2020-09-02 04:48] EtagiBI commented on #32
Thanks for your reply!

From what I know It's technically possible, although there's no official guide for this. [Here're](https://stats.stackexchange.com/a/445201) some tips from J Trana on StackOverflow:

I wonder if it's possible to implement this approach with custom Keras Unet from your repository. I'm confused by tip #2, because there're no Global pooling layers in Unet.

[2020-09-02 08:21] karolzak commented on #32
Hmm, this makes sense and you're right - technically it should work.

As you noticed there's no global pooling layers in U-Net architecture however there are no dense layers either so the overall model is fully convolutional and thus I think it should not care about input height/width size.

I have many concerns though regarding if this "hack" makes sense at all:
- `batch_size` needs to be 1 - whi

[2020-09-04 15:07] EtagiBI commented on #32
Thanks for sharing your point!

I should definitely try this patching->plotting technique.

[2020-09-04 15:07] #32 closed, assigned to nobody

[2020-09-23 05:40] aniketbiprojit commented on #4
I have built a 'some-what multi' input architecture but I am not sure if I will be putting out a pull request here. If any one wants they can take inspiration and create a PR. I too came here first.

https://github.com/aniketbiprojit/Multi-Input-UNet

[2020-09-23 06:02] shubham-scisar opened #34 "Trying to use Satellite net for 3 channel rgb images"
I am utilising 3 channel rgb images and 1 channel mask images for training. So, how can I utilise them to train of satellite unet as I can see in the notebooks that the image is grayscale and mask also is of one channel. Should I make the mask also 3 channel ?Please suggest the solution.

[2020-09-23 09:22] karolzak commented on #4
Hi @aniketbiprojit
Could you explain a bit what kind of scenario are you trying to solve with multi input/output architecture?

[2020-09-23 10:07] karolzak commented on #34
Hi @shubhamsharma1609
It doesn't really matter if you're using 1-channel, 3-channel or 20-channels as an input. You can have any number of channels in your input image and at the same time your output mask can be of any different number of channels.
Number of channels in the output mask defines how many classes are you trying to recognize with your model and is defined by `num_classes` param in `s

[2020-09-23 10:07] #34 closed, assigned to nobody

[2020-09-23 10:20] aniketbiprojit commented on #4
Sure, @karolzak
To be honest, this isn't the architecture we are using but more like the base model from where we evolved.

The scenario was this: We have 12 snapshots sequential snapshots and we are to predict the next 6 snapshots.

Our use case had use feeding input at different parts of the UNet before the conv layer get connected to the deconv layer. Of course, we had to process these images t

[2020-09-23 10:23] shubham-scisar commented on #34
I am facing this issue while using the 3 channel training image and single channel mask :

[code]
Got this error :
[code]

I am using 141 images for training and each is of size 512*512.So train test split has changed it to 71 validation images and 70 train images.

[2020-09-23 10:26] shubhamsharma1609 commented on #34
Also, can I change the size to 256*256 and train.

[2020-09-23 11:02] karolzak commented on #34
This error is in fact related to your masks shape.
[code]
Your `y_train` is of rank 3 shape: `(70, 512, 512)` but it should be of rank 4 (include num_channels) like this `(70, 512, 512, 1)`.
So to fix your code you need to expand dims of your `y_train` like this:
[code]
Do it before passing it into `get_augmented` function

[2020-09-23 11:25] shubham-scisar commented on #34
Ok. I reshaped y to `y = y.reshape(y.shape[0], y.shape[1], y.shape[2], 1)` before augmenting.

[2020-09-23 11:27] shubham-scisar commented on #34
I trained the model using satellite_unet and in prediction images ..I am getting complete black images. not able to make out what is going wrong. This is my code.

[code]

I have just one class.

[2020-09-23 11:38] karolzak commented on #34
Well, there might be a lot of different issues. I don't know what your images and masks look like and how hard it is for the model to learn anything.
Dont expect results right away. I would start from training for longer than just 2 `epochs` and monitor `loss` value over epochs. If loss value is not decreasing then something is wrong.
Did you inspect your images before and after the augmentations?

[2020-09-23 11:42] shubham-scisar commented on #34
I am using tensorflow cpu for training...and here the batch size is small which is 10.The resultant images :
![snip_unet](https://user-images.githubusercontent.com/11288303/94008031-f0473200-fdbf-11ea-9449-2f507dd96b72.PNG)

The images after augmentation are pefect.

[2020-09-23 11:59] karolzak commented on #34
How good is your labelling? From the 2 examples you showed it seems like there's nothing easily distinguishable from the background where your masks are labelled.
The general rule of thumb is: if human eye can't tell the difference - deep learning model definitely can't do it. In your case I can't tell what you're trying to recognize in those images (maybe they are just to small for me to tell).
M

[2020-09-23 12:03] shubham-scisar commented on #34
Ok.When,I am trying to train on cpu, I am getting memory error.I will increase the batch size and steps per epoch  and run this on gpu to get some meaningful output.

[2020-09-24 09:47] shubham-scisar commented on #34
I tried to run the above mentioned code in AWS sagemaker instance having keras =2.3.1 and tensorflow=2.0.2. But I am getting the following error after running this :

[code]

The error :

[code]

[2020-09-24 18:34] shubham-scisar opened #35 "Early stopping in model"
How can we implement early stopping ?

[2020-09-25 09:34] karolzak commented on #35
It's all Keras/TF under the hood so just use standard [Keras SDK](https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/EarlyStopping)

[2020-09-27 17:49] shubham-scisar opened #36 "Including multiple classes in satellite unet"
I am finding this library very useful, it's really a great effort. I just wanted to know if I wish to get multiple classes in the predicted output, Will I have to give the masks having pixel values such as 0,1,2 each pixel value signifying separate class or is there any other way out ? I am just a beginner in unet for multi class segmentation ,so please help.

[2020-09-27 17:51] shubham-scisar commented on #35
I have figured it out, just have to use in the callback. Thanks for the help.

[2020-09-27 19:54] #35 closed, assigned to nobody

[2020-09-27 20:04] karolzak commented on #36
Hi @shubhamsharma1609 , glad you're finding my repo useful.
In case of multi-class semantic segmentation problem your output will be a multilayered array with binary masks (layers) for each class.

I covered this topic in depth in following issues:
https://github.com/karolzak/keras-unet/issues/25
https://github.com/karolzak/keras-unet/issues/4
https://github.com/karolzak/keras-unet/issues/3

Pleas

[2020-09-29 14:46] #36 closed, assigned to nobody

[2020-10-08 23:05] dpoiesz opened #37 "ValueError: logits and labels must have the same shape"
I receive the above error when attempting to train the vanilla_unet. The pipeline works for a unet I wrote that uses "same" padding but was hoping to try the vanilla_unet for it's "valid" padding. I'm not sure what else in my code could have caused this error and would have expected these conditions to have been handled inside the vanilla_unet. Any Recommendations?

initial stack trace below:

Tra

[2020-10-09 05:33] shubham-scisar opened #38 "Loading the model weights"
I have trained my model and got the weights in a **.h5** file. Now I am trying to load them and generate feature maps. So just wanted to know whether my approach is Ok. Weights are in the file **model_v1.h5**
I used :

[code]

OR

should I load_weights directly after declaring the model and not create checkpoints and compile it :

[code]
Please advise.

[2020-10-09 10:29] EtagiBI opened #39 "Image Patching -> Image Reconstructing Workflow"
Hello,

I'm trying to implement image patching -> image reconstructing tecnhique. There're two helpful functions in the repository: `get_patches` and `reconstruct_from_patches`. On the whole the algorithm is quite clear:
1) get a bigger image,
2) crop it to desired patches
3) feed patches to Unet as inputs
4) reconstruct predictions to a bigger mask

There're some aspects I'd like to clarify thoug

[2020-10-16 15:27] Lelantos42 opened #40 "input size"
I seem to be having issues with the input size for the vanilla_unet.  I am wanting to test this with (64,64,1) or (64,64,3) images, but I receive this error:

ValueError: Negative dimension size caused by subtracting 3 from 2 for '{{node conv2d_7/Conv2D}} = Conv2D[T=DT_FLOAT, data_format="NHWC", dilations=[1, 1, 1, 1], explicit_paddings=[], padding="VALID", strides=[1, 1, 1, 1], use_cudnn_on_gpu=t

[2020-10-16 16:37] karolzak commented on #40
Hi @Lelantos42
Seems like your input size is too small.
`vanilla_unet` is an implementation of the [original paper](https://arxiv.org/pdf/1505.04597.pdf) and same as in the original paper it's using `valid` padding method for all the conv layers, which means 2 px are substracted at each conv layer like in the schema bellow:
![image](https://user-images.githubusercontent.com/9843623/96283655-ceb322

[2020-10-16 22:35] Lelantos42 commented on #40
This was very helpful! :) I will definitely give it a read. Thank you!

[2020-10-16 22:35] #40 closed, assigned to nobody

[2020-10-26 09:21] karolzak commented on #37
Hi @dpoiesz !
The answer to your problem is in this single line:
[code]
I assume that your input images and masks are of size 256x256?
Since `vanilla_unet` is using `valid` padding ([as described in the original U-Net research paper](https://arxiv.org/pdf/1505.04597.pdf) the actual output mask size is smaller than the input size (should be 68x68 in your case).
I covered more specifically why this

[2020-10-26 09:25] karolzak commented on #38
Hi @shubhamsharma1609

This again is the question dependency lib which is Keras/TF.
Saving/Loading whole models as well as just the weights of the model is very well covered in the [original docs for Keras/TF](https://www.tensorflow.org/guide/keras/save_and_serialize#top_of_page)
Good luck!

[2020-10-26 09:25] #38 closed, assigned to nobody

[2020-10-26 09:48] karolzak commented on #39
Hi @EtagiBI !
Sorry for late response.
In case you're still having problems with this I think the easiest way is to create patches as a preprocessing step rather than generating them "online" during training. So take all your images and create patches and store them in folder before training - then you can shuffle them and load into your training, add augmentations and stuff.

Yes, in this case yo

[2020-10-26 10:02] EtagiBI commented on #39
Thanks for your reply!
*Cheers* All my guesses were correct!
I implemented this technique a couple of weeks ago, but accuracy metrics were significantly worse because of poor predictions on the patches' boundaries.

[2020-10-26 10:02] #39 closed, assigned to nobody

[2020-10-26 10:30] karolzak commented on #39
Ah yes, this can happen - usually, using overlapping patches solves this problem. Also in case you're using `vanilla_unet` - it's known for poor performance on image borders (because of using `valid` padding for conv layers) that's why there are technics such as border mirroring to mitigate that. Original U-Net paper is full of it in case you haven't read it

[2020-12-01 08:44] Paranormaly opened #41 "loss and iou is nan in satellite_unit"
I'm trying to train satellite_unit model but I got nan for loss, I tried your example on custome_unit it worked good on satellite images but when I'm trying satellite_unit i got this
here is the important part of the  code
`model = satellite_unet(
    input_shape,
)

callback_checkpoint = ModelCheckpoint(
    SAVED_MODEL,
    verbose=1,
    monitor='val_loss',
    save_best_only=True,
)

model.com

[2020-12-01 14:24] karolzak commented on #41
Hi @Paranormaly
Based on what you shared I would double check your input data.
I.e. I would check and validate what's the dtype and values range - both for X and Y

[2020-12-02 09:11] Paranormaly commented on #41
Thanks @karolzak . the dtype in float32 here is the rest of the code . I used the default values trying to test the model

images = glob.glob("./DATASETS/AerialImageDataset/train/*.png")
masks = glob.glob("./DATASETS/AerialImageDataset/trainannot/*.png")

images_list = []
masks_list = []

for image, mask in zip(images, masks):
    images_list.append(np.array(Image.open(image).resize((384, 384))))

[2020-12-03 15:35] dpoiesz commented on #37
Thank you very much for responding, I'll try larger chips and let you know how it works out!

[2020-12-05 09:05] Paranormaly commented on #41
I found the cause it's   `y = np.asarray(masks_np, dtype=np.float32)`
it should be the same as X `y = np.asarray(masks_np, dtype=np.float32) / 255`
now the loss and iou is getting normal

[2020-12-05 09:05] #41 closed, assigned to nobody

[2020-12-07 22:16] dpoiesz commented on #37
Unfortunately, increasing the input size did not help. A similar error is still received. As I stated before this is very confusing since all I did was swap out my function for yours. The code works fine for the code that uses "same" padding.

Any ideas on what I should look at next?

   1/1052 [..............................] - ETA: 4:14:15Traceback (most recent call last):
  File "/home/jordan/a

[2020-12-08 10:09] karolzak commented on #37
512x512 is now both your input size and output mask size, right? That's incorrect for vanilla unet. `valid` padding is losing border pixels information on each consecutive conv layer so your input size of 512x512 outputs a 324x324 output mask. In the original [research paper behind U-Net](https://arxiv.org/pdf/1505.04597.pdf) they used edge mirroring technic as a preprocessing step to turn origina

[2020-12-09 16:42] maxence-ai opened #42 "IoU smooth parameters incompatible with input being np.uint8"
Thanks again for this nice package.

JFYI, I've noticed an issue while using `metrics.iou` when the input is `np.uint8` and the smooth parameter is a float -by default:

[code]

[code]

To sum up:

- Input `np.uint8` with smooth type `float` generates an error
- Input `np.uint8` with smooth type `np.uint8` generates works
- Input `np.float32 `with smooth type `float`/`np.uint8` works

[2020-12-16 21:25] sivaramakrishnan-rajaraman opened #43 "Error with the utils file while using RGB images"
I am using the utils.py functions to work with RGB images. My mode works with RGB images and RGB masks and generates RGB masks (3 channel images). I am working with (256,256,3) images and masks. While running the code, I get the following error wit the plot_imgs function: How should we modify this plot function t work with RGB images? Thanks in advance.

ValueError                                T

[2020-12-17 08:15] karolzak commented on #43
Hi @sivaramakrishnan-rajaraman
Unfortunately these utils lack any tests or whatsoever and they were develop in a rush and designed only for single layer masks.
Don't have any quick fix for this atm but I encourage you to dig into the code and do a PR with necessary changes for everyones benefit.

[2020-12-17 08:17] karolzak commented on #42
Hi @maxpv
Good catch! Seems to be a mistake indeed.

[2020-12-19 22:19] a-ozbek opened #44 "[New functionality] Adding custom U-Net with 1D convolutions"
Having a customizable 1D version of a U-Net might be handy for some users. I already made a local branch and implemented it, also added its tests.  (`custom_unet_1d.py`) I can make a PR if you want me to.

[2020-12-22 05:47] shubham-scisar opened #45 "Multiclass segmentation with different labels and satellite unet"
I just have a problem in which I have images out of which some have 2 classes and some have 3 classes. So, basically the 2 classes are already there in all images but some have additional one class. Now, while dealing with multiclass segmentation ,I have to make the size (width,height,classes) so in this case it will cause inconsistency. As all the images should have same dimensions. Kindly guide.

[2020-12-22 09:55] parcodepie opened #46 "Input 0 is incompatible with layer model"
I'm trying the default training (satellite unet) and train went good but when I'm trying to test the model I got the error
`ValueError: Input 0 is incompatible with layer model: expected shape=(None, 384, 384, 3), found shape=(None, 348, 3)`

Here is my test code

[code]

[2020-12-22 13:01] karolzak commented on #46
Hi @parcodepie
Seems to me you made a mistake when resizing the test image. You used 348x348 instead of 384x384

[2020-12-22 14:18] parcodepie commented on #46
Thanks @karolzak I edited it but it throws another error
`Input 0 is incompatible with layer model: expected shape=(None, 384, 384, 3), found shape=(32, 384, 3)`

[2020-12-22 17:55] karolzak commented on #46
Your input array still have a wrong shape. It expects a batch of arrays of size 384x384x3 while you're providing 32 arrays of size 384x3. Something is wrong with your code

[2020-12-23 07:48] parcodepie commented on #46
I'm trying to test only one image what could went wrong?

here is the whole test code

[code]

[2020-12-23 10:53] karolzak commented on #46
[code]

Ok, I see your problem. When providing inputs for prediction you need to serve images in batches - if you want to fit just a single image you need to reshape it from `(384, 384, 3)` to `(1, 384, 384, 3)`

[2020-12-23 16:48] parcodepie commented on #46
Indeed it was the problem.
Here is the new working code
[code]

also I'm saving the image to the disk
[code]

the model needs more training but it's a good start

Thanks @karolzak  for your time

[2020-12-23 16:48] #46 closed, assigned to nobody

[2021-01-14 07:57] parcodepie opened #47 "satellite_unet custom_objects: '<' not supported between instances of 'function' and 'str'"
I'm trying to continue training model "satellite_unet" by loading weights. but got this issue when using custom_objects

here is the code
`model = satellite_unet(
    input_shape,
)
callback_checkpoint = ModelCheckpoint(
    os.path.join(checkpoint_path, 'weights.{epoch:02d}.{val_loss:.4f}.hdf5'),
    verbose=1,
    monitor='val_loss',
    save_best_only=True
)
model.compile(
    optimizer=SGD(lr=

[2021-01-18 09:00] karolzak commented on #47
Hi @parcodepie
Could you share more details on this issue? It's hard to understand what is the problem and it's impossible to replicate.

[2021-01-19 07:24] parcodepie commented on #47
I'm using this [repo](https://github.com/sanpreet/Loading-saved-keras-model-and-continue-training-from-last-epoch/blob/master/load_saved_keras_model.py) to load last checkpoints if exists before so I could continue training
here is the whole code.
It works where there is no checkpoints before but when trying to load the last checkpoints the error thrown
Here is the whole code:

[code]

[2021-01-19 12:18] karolzak commented on #47
In one of your imports you have this line:
```from keras_net.keras_unet.metrics import iou, iou_thresholded```
I don't think it's correct. Please try changing it to the following:
```from keras_unet.metrics import iou, iou_thresholded```
let me know if that helped

[2021-01-19 12:30] parcodepie commented on #47
Thanks @karolzak  but it's because I have two folders has the same name inside so the import is correct.(keras_net/keras_unet)
the project folder and your repo folder

I forgot to put the whole exception. Here it is

[code]

[2021-01-19 13:30] parcodepie commented on #47
I think it works now after I changed the compile option for **False** and compile the model after loading it from the last checkpoints

[code]
It now continues training from the last checkpoints. But is there a way to make sure it works?

[2021-01-19 14:34] karolzak commented on #47
No other option than just training it for a bit and running some predictions to see :)

[2021-01-19 14:41] #47 closed, assigned to nobody

[2021-01-25 06:48] XPbIM3 opened #48 "Loss function return shape"
There is a jaccard_distance loss function implemented in this package and I'm suspicious about it.

Supposing You are feeding keras model with labels formed as (batch_size, dim_1, dim_2, class) the loss func should return either a (batch_size) array of  per sample losses or a scalar number - the loss over the whole batch.

This jaccard_distance :
`    intersection = K.sum(K.abs(y_true * y_pred), a

[2021-01-25 07:37] XPbIM3 commented on #48
Sorry ,  Ive had a misleading concept in my head.  A return matrix of losses is totaly fine, thats not an issue.

[2021-01-25 07:37] #48 closed, assigned to nobody

[2021-06-05 22:23] javadan opened #49 "Training on Jetson NX"
Hi,

I'm relatively new to training NNs, so I'm wondering if I'm just underestimating the size of U-Nets, or overestimating the abilities of a Jetson NX, to train my dataset.  It has 8GB of ram. A tool, jetson_stats's jtop program, says the CPU has 3GB and the GPU has 3.2GB though, and i don't see it use up more memory.

I've made changes to the kz-izbi-challenge notebook, to train on images at 25

[2021-06-07 09:18] karolzak commented on #49
Hi @javadan ,
I'm not familiar with Jetson NX nor have I used it for training NNs.
It's possible that after fitting the network into GPU memory there's simply no more space for fitting images into it.
But it's also possible that some other process is hoarding resources and your training process can't access your gpu memory in it's full capacity. I usually use tools like `nvidia-smi` to monitor my

[2021-06-07 09:59] javadan commented on #49
Thanks, [the Jetsons don't have nvidia-smi](https://forums.developer.nvidia.com/t/gpu-usage-info-nvidia-smi-is-not-there/76155), and have some other tool, tegrastats, which doesn't seem to have a lot of useful info.  But maybe the "IRAM" count is relevant.  The [jtop program](https://pypi.org/project/jetson-stats/) is pretty nifty, but also not helping to find the cause.

I'll have another look th

[2021-06-07 14:58] karolzak commented on #49
According to what you wrote, I think it should fit into the memory however the problem might be with number of processes using that GPU. The way that Keras works by default is that once initialized it would reserve all the memory on given GPU so if another process would initialize Keras as "the second" it would find little to no memory to use and throw OOM error

[2021-06-07 22:23] javadan commented on #49
Hmm, good to know.   So I changed filters=64 to filters=32, and it's down to 7 million parameters now.  This seems to be training ok.  That's a good omen.   What, in a nutshell does filters=X do?  resolution of the convolutions? I'll leave it training overnight.  Initial results are interesting.  Ghostly stuff.  Thanks you can close the issue

[2021-06-08 09:16] karolzak commented on #49
Glad you figured out the way to make it work for you.
`filters` parameter is used to determine the number of convolutional kernels in the first conv block. Number of filters is divided by 2 for every next block. So this parameter will strongly influence the number of params for the overall network and thus the size in memory. It will also influence cognitive capabilities of your network - more fil

[2021-06-08 09:16] #49 closed, assigned to nobody

[2021-06-21 13:25] Angel-Ceballos commented on #4
Hi @karolzak
I am fairly new to cnn architectures and I was wondering what is the best approach for the following problem:
I have to spot the difference between two images from the same place but some time apart. Basically these are satellite images and clouds or changes in vegetation affect the comparison with traditional computer vision so I want a more robust model like unet. I am not sure if c

[2021-07-02 07:44] gordonhu608 commented on #46
Hi, so how did u fix the issue when you are testing many images instead of just one?

[2021-08-15 13:31] javadan opened #50 "Is this multi-class segmentation possible?"
Hi karolzak,

I've had some good progress training unet segmentation in the cloud with your library.
I can train binary segmentation fine now, at least.

Now I have RGB images, and png masks where np.unique(pixel_options) = [0 1 2 3 255]
I am interested in tracking class ids 1 and 3.

I've looked through your answers to others regarding multi-class segmentation, and it came down to using multiple

[2021-08-16 12:13] karolzak commented on #50
Hi @javadan ,

As you already noticed, this topic was discussed a few times now and to my knowledge there are 2 options:
- separate model for each class with separate output mask for each class (256x256x1 with 0..1 values range)
- separate binary mask for each class (256x256x1 with 0..1 values range), stacked together (256x256xNUM_CLASS with 0..1 values range) and used as a target mask for a singl

[2021-08-16 13:40] javadan commented on #50
Hi @karolzak

Ok, I will let you know if I work out how to do it the way I'm describing.
Otherwise, I'll use one of the multiple binary-segmentation methods.

The multiple binary-segmentation methods should work fine for me, once I've turned my 5-class mask into 5 x 1-class masks.  I'm just thinking ahead, in case I decide to add more classes later.

If num_classes increases,

Then with an integer

[2021-08-16 13:40] #50 closed, assigned to nobody

[2021-08-16 17:03] karolzak commented on #50
Well I partially agree with this statement although the change is tiny and it's only the output tensor size that changes so it would never become a concern in terms of network size. On top of that if you write your training logic well then there's no need for code changes while retraining. `num_classes` can be easily provided automatically based on your masks.
In fact in terms of trainable params

[2021-10-20 09:05] hhhhhhhhhhhhhhhhho commented on #46
hi, i have a same problem ,too

how fix that problem ?

Input 0 is incompatible with layer model: expected shape=(None, 64, 64, 3), found shape=(32, 64, 3) .. . .

[2021-10-20 18:20] karolzak commented on #46
Hello @hhhhhhhhhhhhhhhhho ! Great username :)

As it was mentioned begore you need to serve images as an array. The solution mentioned above will work:
[code]

[2021-11-08 12:29] Anne-Andresen commented on #46
Had the same problem solved it by adding an additional dimension
code before:
[code]

Code after:
[code]

[2021-11-11 18:58] niranjanstudy06 commented on #46
Hello @karolzak @Anne-Andresen , Can you please help me with the below problem.

I am currently trying to train a basic neural network with 3 different values from a dataset and predict another value. (Regression).

But I receive an input 0 incompatibility error. Kindly help.

Input NumPy array:
`
features.shape  #(1700, 3)
labels.shape #(1700, )
`

Neural Network
[code]

Summary:
<pre>
 dense_39

[2021-11-11 19:07] niranjanakella opened #51 "Input 0 of layer "sequential_1" is incompatible with the layer: expected shape=(None, 1, 3), found shape=(None, 3)"
Hello @karolzak @Anne-Andresen , Can you please help me with the below problem.

I am currently trying to train a basic neural network with 3 different values from a dataset and predict another value. (Regression).

But I receive an input 0 incompatibility error. Kindly help.

Input NumPy array:
`
features.shape  #(1700, 3)
labels.shape #(1700, )
`

Neural Network
[code]

Summary:
<pre>
 dense_39

[2021-11-11 19:24] karolzak commented on #46
@niranjanstudy06 the error message literally tells you what the problem is

try this instead:

[code]

[2021-11-11 19:25] karolzak commented on #51
Hey @niranjanstudy06, this is not even remotely related to `keras-unet` package. I propose you ask such question on more suitable platforms such as stackoverflow. Also, I answered your question here: https://github.com/karolzak/keras-unet/issues/46#issuecomment-966563899

[2021-11-11 19:25] #51 closed, assigned to nobody

[2021-11-11 19:29] niranjanstudy06 commented on #46
@karolzak what!?

This will obviously raise a type error problem...

[2021-11-11 19:42] karolzak commented on #46
@niranjanstudy06 yeah, missed ',' there:
[code]

[2021-11-11 19:45] karolzak commented on #46
Also, this has nothing to do with `keras-unet`. Please go to stackoverflow with these kind of questions

[2021-11-11 19:50] niranjanstudy06 commented on #46
@karolzak Got it, sorry. I wasn't finding a solution there so I was trying to get help on github.

[2021-11-11 19:52] niranjanstudy06 commented on #46
@karolzak I deleted my comments on this, cause like you said they have nthg to do with unet. Kindly remove urs as well so that people won't get confused over it. Sorry for the inconvenience.

[2021-12-14 21:57] htmlawsd opened #52 "Modifying image to accept 8 band satellite image"
Does anyone know how to modify the satellite Unet to accept 8 band image layers? I currently have dimension errors using the network.

my sample patch size is:
model = satellite_unet(input_shape=(128, 128, 8))
Training image is (456,128,128,8)
and mask is (456,128,128,3)

Where may i modify the convolutional layer to accept multibands?
Error: Input 0 is incompatible with layer model_3: expected sh

[2021-12-14 23:03] htmlawsd commented on #52
Solved ty

[2021-12-14 23:03] #52 closed, assigned to nobody

[2021-12-23 12:36] soans1994 commented on #50
hello,

Can ypu please help me underatand, how can i address the overlapping masks. I have 15 class masks as binary mask. I could use categorical cross entropy loss by one hot encoding the targets, but i manually removed the overlapping pixels from some of the classes. The output is not so accurate. Can i make use of the overlapped binary masks for 15 classes with binary cross entropy loss?

thank

[2021-12-23 21:28] karolzak commented on #50
Hi @soans1994
How big of an overlap are we talking about here?
I suspect the problem of your output not being so accurate might be caused by something else than just overlapping pixels.
When it comes to image segmentation for multiple classes what I found working best is training a separate binary classification model for each class

[2022-02-15 08:05] tehreemnaqvi commented on #46
@karolzak I have the same error:

ValueError: Input 0 is incompatible with layer model: expected shape=(None, 9, 4), found shape=(9, 4).

This is my original data shape and I'm trying to generate synthetic data from TimeGAN. When I run the model, got the above error.

[2022-02-15 17:33] karolzak commented on #46
@tehreemnaqvi Network is expecting batches of inputs of size (9,4). Please read through this thread. Your problem was already answered above.

[2022-05-11 02:52] panovr opened #53 "Semantic segmentation for satellite images"
Hi,
  may you add notebook example of semantic segmentation for satellite images?
  Thanks!